body{
    font-family: Arial, sans-serif;
}

.container{
    width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px;
    padding: 8px;
}

li{
    display: flex;
}
